html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  padding: 0;
  margin: 0;
  max-width: none;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
