/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  cursor: pointer;
}

.nav a:hover {
  color: #7a00ff;
}

/* LAYOUT */
.catalog-container {
  display: flex;
  min-height: calc(100vh - 60px);
  background: #f4f4f4;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.filter-item {
  background: #eee;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-item:hover {
  background: #ddd;
}

/* MAIN */
.catalog-main {
  flex: 1;
  padding: 30px;
}

.catalog-title {
  font-size: 32px;
  margin-bottom: 20px;
}

/* GRID */
.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

/* PRODUCT CARD */
.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-price {
  color: #8300ff;
  font-weight: bold;
  margin-top: 5px;
}
